@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;700&family=Noto+Sans+Thai:wght@300;400;500;600;700&display=swap");

#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: -apple-system, "Nunito Sans", "Noto Sans Thai", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  * {
    font-family: -apple-system, "Nunito Sans", "Noto Sans Thai", sans-serif;
  }
}

svg {
  vertical-align: baseline !important;
}
